
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>about</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        {%load static%}
        <link rel="stylesheet" href="{%static 'css/about.css' %}">
    </head>
    <body>
        
        <nav class="navbar navbar-inverse top-nav">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                    MENU
                    <span class="icon-bar"></span>                         
                    <span class="icon-bar"></span>                         
                    <span class="icon-bar"></span>                         
                </button>
                <a class="navbar-brand" href="#">DEMO TEMPLATE</a>
            </div>
            <div class="collapse navbar-collapse" id="mynav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">PORTFOLIO</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
            </div>
            </div>
        </nav>
        
        <div class="container-fluid demo-templete">
            
            <div class="row body-section">
                
                <div class="col-md-12 text-center man-img">
                    
                        {%load static%}
                    <img src="{%static 'img/about/man-img.jpg'%}" class="img-circle" alt="Image-Man">
                    <h1>AMANDEEP SINGH PATHANIA</h1>
                    <hr>
                    <p>Web Developer at Enest Technologies Private Limited</p>
                </div>
                <div class="col-md-12 text-center portfolio">
                    <h1>PORTFOLIO</h1>
                    <hr>                        
                </div>
                <div class="col-md-8 col-md-offset-2">
                    
                </div>

            </div>
            
            
        </div>
        
            <div class="container image-section">
                <div class="plane-img">                            
                    {%load static%}
                    <img src="{%static 'img/about/plane.jpg'%}" class="img-circle" alt="Image">                            
                </div>
                <div class="foodimage-img">
                    {%load static%}
                    <img src="{%static 'img/about/foodimage.jpg'%}" class="img-circle" alt="Image">
                </div>
                <div class="tent-img">
                    {%load static%}
                    <img src="{%static 'img/about/tent.jpg'%}" class="img-circle" alt="Image">
                </div>
                <div class="remote-img">
                    {%load static%}
                    <img src="{%static 'img/about/remote.jpg'%}" class="img-circle" alt="Image">
                </div>
                <div class="home-img">
                    {%load static%}
                    <img src="{%static 'img/about/home.jpg'%}" class="img-circle" alt="Image">
                </div>
                <div class="locker-img">
                    {%load static%}
                    <img src="{%static 'img/about/locker.jpg'%}" class="img-circle" alt="Image">
                </div>
              
            </div>
        
        
        <div class="container-fluid about-section">
            
            <div class="row">
                
                <div class="col-md-12 about-head">
                    <h1>ABOUT</h1>
                    <hr>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Reach your audience on every<br>browser without adding a line of code .<br>
                            Bootstrap keeps your codebase  <br> lightweight and fast loading your <br>website</p>
                        </div>
                        <div class="col-md-6">
                            <p>You can make your custom avatar<br>
                                for the masthead,change the icon in the<br>
                                 dividers, and add your email addresses to<br> 
                                 the contact form to make it fully <br>
                                functional </p>
                        </div>
                        <div class="col-md-12 about-button">
                            <br>
                            <button type="button"><span class="glyphicon glyphicon-download"></span>Free Download</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                  &nbsp;
                </div>
                
            </div>
            
        </div>
        
        <div class="container-fluid contact-section">
            <div class="row">
                <div class="col-md-12 contact-head">
                    <h1>CONTACT ME </h1>
                    <hr>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    
                    <form action="" method="POST" role="form">
                    
                        <div class="form-group  input">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="form-group  input">
                            <input type="text" placeholder="Email Address">
                        </div>
                        <div class="form-group  input">
                            <input type="text" placeholder="Phone Number">
                        </div>
                        
                        <div class="form-group  input">
                        <textarea rows="10" placeholder="Message" required="required"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    
                </div> 
            </div>
        </div>
        <div class="container-fluid footer-section">
            <div class="row">
              <div class="col-md-12">&nbsp;</div>  
              <div class="col-md-12">&nbsp;</div> 
            <div class="col-md-8 col-md-offset-2">
                
                <div class="row footer-contant">
                    
                    <div class="col-md-4">
                        <h4>LOCATION</h4>
                        <hr>
                        <br>
                    
                        <p>Example Box564<br> Disneylans,USA</p>
                    </div>
                    <div class="col-md-4">
                        <h4>AROUND THE WEB</h4>  <hr><br>
                        <p><span >facebook</span>
                        <span>search</span> 
                        <span>downlaod</span> </p>
                    </div>
                    <div class="col-md-4">
                        <h4>ABOUT WEBSITE</h4>  <hr><br>
                        <p>Articulate effective websites for your projects and success in your terms</p>
                    </div>
                    
                </div>
                
            </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="row">
                
                <div class="col-md-6 col-md-offset-3">
                   Copyright &copy; your website 2019
                </div>
                
            </div>
        </div>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

