@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Tajawal');

body{
                      
    background-image: url("../img/netguru/back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Tajawal', sans-serif;

}
.topnav a {
    font-weight: bolder;
    display: inline-block;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    font-size: 20px;
    border-width: 0%;
    transition: border 0.5s ease-in-out;
  }
  .topnav a:hover{
      
      border-bottom: 5px solid #00D463;
    }
  button.side{
    font-weight: bolder;
      float: right;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
    background: rgba(0, 0, 0, 0);
    border:2px solid #00D463;
    border-radius: 400px;
    margin-right: 70px;
    color:#00D463;
  }
  button.side:hover{
    color: white;
      background-color:#00D463;
  }
  button.side:focus{
    outline: none;
  }
  div.center{
      text-align: center;      
    }
span.wiyi{
    border-bottom:2px solid #00D463;
}
.main{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
button.estimate{
    font-weight: bolder;

      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
    background: #00D463;
    border:2px solid  #00D463;
    border-radius: 400px;
    color:white;
  }
  button.estimate:hover{
    color: #00D463;
      background-color:white;
  }
  button.estimate:focus{
    outline: none;
  }